*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(laptop.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    width: 100%;
    height: 70px;
    background-color: blue;
    color: white; 
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    margin: 0 25px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: underline 0.3s ease-in;
    &:hover{
        text-decoration: underline;
    }
}

nav ul li:first-child{
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
}

.sidebar{
    width: 300px;
    position: fixed;
    top: 0;
    right:0;
    display: none;
    flex-direction: column;
    background-color: white;
    color: black;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}


.sidebar li{
    margin: 9px 0;
    width: 26px;
    height: 26px;
    /* background-color: red; */
    text-align: start;

}

.sidebar li img{
    width: 100%;
    height: 100%;
}

.openMenu{
    display: none;
}

.openMenu img{
    width: 26px;
    height: 26px;
}

@media(max-width : 800px){
    .hide{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .openMenu{
        display: block;
    }
}


    nav li{
        display: inline-block;
        position: relative;
    }
  
  nav li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transition: transform 0.25s ease-in;
  }
  
  nav li:hover::after {
    transform: scaleX(1);
  }
  
 nav li.left::after {
    transform-origin: bottom right;
  }
  
  nav li:hover::after {
    transform-origin: bottom left;
  }
  
  nav li::after {
    transform-origin: bottom center;
  }
  
  nav li:hover::after {
    transform-origin: bottom center;
  }
  
  nav li::after {
    transform-origin: bottom left;
  }
  
  nav li:hover::after {
    transform-origin: bottom right;
  }
